pandas-gbq==0.17.9
pickleshare==0.7.5
pytorch-tabnet==4.1.0
scikit-learn==1.2.2
seaborn==0.12.2
sklearn-pandas==2.2.0
tensorflow==2.12.0
tensorflow-addons==0.21.0
tensorflow-datasets==4.9.2
tensorflow-estimator==2.12.0
tensorflow-gcs-config==2.12.0
tensorflow-hub==0.14.0
tensorflow-io-gcs-filesystem==0.32.0
tensorflow-metadata==1.13.1
tensorflow-probability==0.20.1
torch==2.0.1
torchdata==0.6.1
torchsummary==1.5.1
torchtext==0.15.2
tqdm==4.65.0
xgboost==1.7.6
lightgbm==3.3.5
opencv-python==4.7.0.68
